.sidebar {
    width: 200px;
    height: calc(100vh - 150px); 
    background-color: #3b3b3b;
    color: white;
    padding: 40px 20px;
    box-sizing: border-box;
    position: fixed;
    top: 150px;
    left: 0;
    overflow-y: auto;
    
  }
  
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu li {
    margin-bottom: 30px;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;       
    font-weight: 600;      
    transition: color 0.2s;
  }
  
  .menu a:hover {
    color: #f0db88;
  }

  .menu-heading {
    font-size: 30px;        
    font-weight: 800;       
    margin-bottom: 40px;    
    color: white;
    padding-left: 2px;
  }